* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-red: #ff5c56;
  --color-blue: #0741ff;
  --color-pink: #fad3d4;
}

body {
  background-color: var(--color-blue);
  font-family: 'AvantGardeMdITC', Helvetica, sans-serif;
}

.note {
  animation: note 880ms infinite;
}

.hero {
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.stars-desktop {
  display: none;
}

.star-container {
  width: 100%;
  min-height: 20vh;
  position: relative;
  z-index: 2;
}

.star-container .star {
  overflow: visible;
  position: absolute;
}

.star-one {
  fill: white;
  transform: scale(0.45);
  top: 70px;
  left: 10px;
}
.star-two {
  fill: white;
  top: 15px;
  left: 12%;
  transform: scale(0.25);
}

.star-three {
  transform: rotate(-20deg) scale(0.4);
  top: 53px;
  left: 87px;
}

.star-four {
  top: -10px;
  right: 48%;
  fill: var(--color-red);
  transform: translateX(50%) translateY(50%) scale(0.6);
}

.star-five {
  top: 20px;
  left: 60%;
  transform: scale(0.5) rotate(5deg);
}

.star-six {
  top: 70px;
  right: 0;
  fill: white;
  transform: scale(0.38);
}
.container {
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in;
  padding: 2rem;
}

.start-img {
  width: 100%;
  opacity: 0;
  transition: 0.8s ease-in;
}
.arrow-container {
  width: 100%;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%) scale(0.6);
  animation: bounce 770ms infinite;
}

.bottle {
  display: none;
}
.microphone-red {
  display: none;
}

.welcome-letter {
  background-color: var(--color-red);
  width: 100%;
  min-height: 80vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 100%;
  margin: 1rem;
  margin-top: 2rem;
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-container button {
  background-color: var(--color-blue);
  width: 150px;
  border: none;
  box-shadow: unset;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  margin: 20px;
}
.text-container button:hover {
  background-color: white;
  color: var(--color-blue);
  cursor: pointer;
}
.microphone-container {
  display: none;
}

.show-time {
  opacity: 1;
  animation: show-time 0.8s ease-in-out;
}

.show-time-left {
  opacity: 1;
  animation: show-time-left 0.8s ease-in-out;
}

.program {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}
.program-text {
  margin: 5rem 1rem 1rem;
}

.program-card {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.program-card img {
  width: 100%;
  animation: program-card 880ms infinite;
}

.pic-container {
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: var(--color-pink);
  color: var(--color-blue);
  padding: 2rem;
  display: none;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  font-size: 1.2rem;
}

form div input {
  padding: 5px;
}

form div label {
  align-self: center;
  justify-self: center;
}

form button {
  background-color: var(--color-blue);
  width: 150px;
  border: none;
  box-shadow: unset;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  margin: 4rem 1rem 0;
} */

.form-container-visible {
  display: flex;
}

.confirmation {
  display: none;
  margin-top: 2rem;
  font-size: 1.1rem;
}

footer {
  color: var(--color-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  background-color: white;
  padding: 2rem;
}
