* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-red: #ff5c56;
  --color-blue: #0741ff;
}

body {
  background-color: var(--color-blue);
  font-family: "AvantGardeMdITC", Helvetica, sans-serif;
}

.note {
  animation: note 880ms infinite;
}

.hero {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.star-container {
  /* background-color: bisque; */
  width: 100%;
  min-height: 20vh;
  position: relative;
  z-index: 2;
}

.star-container .star {
  overflow: visible;
  position: absolute;
}

.star-one {
  fill: white;
  transform: scale(0.45);
  top: 70px;
  left: 10px;
}
.star-two {
  fill: white;
  top: 15px;
  left: 12%;
  transform: scale(0.25);
}

.star-three {
  transform: rotate(-20deg) scale(0.4);
  top: 53px;
  left: 87px;
}

.star-four {
  top: -10px;
  right: 48%;
  fill: var(--color-red);
  transform: translateX(50%) translateY(50%) scale(0.6);
}

.star-five {
  top: 20px;
  left: 60%;
  transform: scale(0.5) rotate(5deg);
}

.star-six {
  top: 70px;
  right: 0;
  fill: white;
  transform: scale(0.38);
}
.container {
  width: 80%;
  /* min-height: 70vh; */
  clip-path: polygon(
    1% 99%,
    0 3%,
    13% 2%,
    35% 1%,
    53% 0%,
    73% 0%,
    93% 2%,
    100% 4%,
    100% 99%,
    85% 98%,
    63% 99%,
    32% 99%,
    8% 100%
  );
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  opacity: 0;
  /* position: absolute; */
  transition: opacity 0.8s ease-in;
  padding: 2rem;
}

.arrow {
  position: absolute;
  transform: scale(0.6);
  overflow: visible;
  bottom: 60px;
  margin: 20px;
  animation: bounce 770ms infinite;
}

.welcome-letter {
  background-color: var(--color-red);
  width: 100%;
  min-height: 80vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 100%;
  margin: 1rem;
  margin-top: 2rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container h1 {
  font-size: 49px;
  margin: 20px 0;
}

.text-container h2 {
  font-size: 19px;
  margin-bottom: 30px;
}

.text-container p {
  line-height: 110%;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-container button {
  background-color: var(--color-blue);
  width: 150px;
  border: none;
  box-shadow: unset;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  margin: 20px;
}
.text-container button:hover {
  background-color: white;
  color: var(--color-blue);
  cursor: pointer;
}
.microphone-container {
  display: none;
}

.show-time {
  opacity: 1;
  animation: show-time 0.8s ease-in-out;
}

.singsing-logo {
  width: 100%;
  margin: 10px;
}

.intro-svg {
  width: 100%;
  margin-top: 5px;
}
