* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-red: #ff5c56;
  --color-blue: #0741ff;
}

body {
  background-color: var(--color-blue);
  font-family: "AvantGardeMdITC", Helvetica;
}

.note {
  animation: note 880ms infinite;
}

.hero {
  width: 100%;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  margin-top: 3rem;
  width: 80%;
  min-height: 70vh;
  clip-path: polygon(
    1% 99%,
    0 3%,
    13% 2%,
    35% 1%,
    53% 0%,
    73% 0%,
    93% 2%,
    100% 4%,
    100% 99%,
    85% 98%,
    63% 99%,
    32% 99%,
    8% 100%
  );
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0.8s ease-in;
  padding: 1rem;
}

.show-time {
  opacity: 1;
  animation: show-time 0.8s ease-in-out;
}

.singsing-logo {
  width: 100%;
  margin: 1rem;
}

.welcome-letter {
  background-color: var(--color-red);
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
}

.intro-svg {
  width: 100%;
  margin-top: 10px;
}
.arrow {
  position: absolute;
  width: 81px;
  height: 40px;
  overflow: visible;
  bottom: 0;
  margin: 20px;
  animation: bounce 770ms infinite;
}

.microphone {
  position: absolute;
  overflow: visible;
  width: 56px;
  height: 131px;
}
.microphone-red {
  z-index: 1000;
  left: 50px;
  top: 50px;
}

.microphone-blue {
  left: 0;
  top: 0;
}

.mic-one {
  left: 150px;
  top: 120px;
  transform: rotate(25deg);
}

.mic-two {
  transform: scale(0.7) rotate(130deg);
}

.mic-three {
  left: 300px;
  top: 0;
  transform: scale(0.7) rotate(-25deg);
}

.mic-four {
  left: 10px;
  top: 40%;
  transform: scale(0.7) rotate(-90deg);
}

.mic-five {
  top: 40%;
  left: 60%;
  transform: rotate(-45deg);
}

.mic-six {
  top: 62%;
  left: 40%;
  transform: scale(0.7) rotate(120deg);
}

.mic-seven {
  top: 70%;
  transform: rotate(-10deg);
  animation: note 880ms infinite;
}

.mic-eight {
  top: 80%;
  left: 70%;
  transform: rotate(50deg);
}
