@keyframes show-time {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: rotate(5deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes note {
  0% {
    transform: rotate(15deg);
    fill: var(--color-blue);
  }
  50% {
    transform: rotate(15deg);
    fill: var(--color-blue);
  }
  50.01% {
    transform: rotate(0deg);
    fill: var(--color-red);
  }
  100% {
    transform: rotate(0deg);
    fill: var(--color-red);
  }
}

@keyframes note-double-1 {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  50.01% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes note-double-2 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  50.01% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes note-single-2 {
  0% {
    transform: scale(0.7) rotate(20deg) translateY(-200px);
  }
  50% {
    transform: scale(0.7) rotate(20deg) translateY(50px) translateX(40px);
  }
  100% {
    transform: scale(0.7) rotate(20deg) translateY(0);
  }
}

@keyframes note-single-3 {
  0% {
    transform: scale(0.7) rotate(10deg) translateX(570px);
  }

  20% {
    transform: scale(0.7) rotate(0) translateX(450px);
  }

  40% {
    transform: scale(0.7) rotate(10deg) translateX(350px);
  }

  60% {
    transform: scale(0.7) rotate(0) translateX(250px);
  }

  80% {
    transform: scale(0.7) rotate(10deg) translateX(150px);
  }

  100% {
    transform: scale(0.7) rotate(0) translateX(0);
  }
}

@keyframes note-double-3 {
  0% {
    transform: rotate(0) translateY(-50px);
  }
  50% {
    transform: rotate(360deg) scale(1.2) translateY(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes mic-two {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(130deg);
  }
  50.01% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(110deg);
  }
}

@keyframes mic-five {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  50.01% {
    transform: rotate(-35deg) translateX(45%);
  }
  100% {
    transform: rotate(-35deg) translateX(45%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-70%) translateX(-50%) scale(0.6);
  }
  50% {
    transform: translateY(-90%) translateX(-50%) scale(0.6);
  }
}

@keyframes program-card {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  50.01% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes right-bottle {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
  50.01% {
    transform: rotate(-10deg) scale(1.2);
  }
  100% {
    transform: rotate(-10deg) scale(1.2);
  }
}
@keyframes bubbles {
  0% {
    transform: rotate(0deg) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) scale(0.8);
    opacity: 0;
  }
  50.01% {
    transform: rotate(-10deg) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: rotate(-10deg) scale(0.8);
    opacity: 1;
  }
}
@keyframes left-bottle {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
  50.01% {
    transform: rotate(10deg) scale(1.2);
  }
  100% {
    transform: rotate(10deg) scale(1.2);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-600px);
  }
  50% {
    transform: translateX(65%) rotate(10deg);
  }
  75% {
    transform: translateX(-100px) rotate(-10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes slide-in-mobile {
  0% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(30px) rotate(10deg);
  }
  75% {
    transform: translateX(-30px) rotate(-5deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes red-mic {
  0% {
    transform: translateY(-700px) rotate(180deg) scale(1.3);
    opacity: 0;
  }
  50% {
    transform: translateY(30px) rotate(0) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(0) scale(1.3);
    opacity: 1;
  }
}

@keyframes slide-in-bottle-left {
  0% {
    transform: translateX(-600px) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1.2);
    opacity: 1;
  }
}
@keyframes slide-in-bottle-right {
  0% {
    transform: translateX(600px) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1.2);
    opacity: 1;
  }
}
