@keyframes note {
  0% {
    transform: rotate(0deg);
    fill: var(--color-blue);
  }
  50% {
    transform: rotate(0deg);
    fill: var(--color-blue);
  }
  50.01% {
    transform: rotate(-10deg);
    fill: var(--color-red);
  }
  100% {
    transform: rotate(-10deg);
    fill: var(--color-red);
  }
}
@keyframes mic-two {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(130deg);
  }
  50.01% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(110deg);
  }
}

@keyframes mic-five {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  50.01% {
    transform: rotate(-35deg) translateX(45%);
  }
  100% {
    transform: rotate(-35deg) translateX(45%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(0.6);
  }
  50% {
    transform: translateY(10px) scale(0.6);
  }
}

@keyframes show-time {
  0% {
    transform: translateY(500px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
