@media screen and (min-width: 800px) {
  /* First section  */
  .hero {
    margin-bottom: 1rem;
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .container {
    width: 50%;
    padding: 3rem;
    padding-top: 2rem;
    margin-top: 4rem;
  }

  .star-container {
    display: none;
  }

  /* Second section  */

  .welcome-letter {
    padding: 1rem;
    justify-content: unset;
    align-items: unset;
    margin-top: 1rem;
  }

  .welcome-letter h1,
  .welcome-letter h2,
  .welcome-letter button,
  .text {
    margin: 20px;
  }
  .welcome-letter .text-container {
    width: 70%;
    padding: 5rem 10%;
    margin: 10px;
    margin-top: unset;
    display: unset;
    flex-direction: unset;
    justify-content: unset;
  }

  .welcome-letter .microphone-container {
    width: 35%;
    position: relative;
  }

  .welcome-letter h1 {
    font-size: 6.5rem;
  }

  .welcome-letter h2 {
    font-size: 2.8rem;
  }

  .welcome-letter p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
  }

  .text-container .buttons {
    flex-direction: row;
    align-items: unset;
  }
  .welcome-letter button {
    width: unset;
    background-color: var(--color-blue);
    border: none;
    box-shadow: unset;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-top: 4rem;
    padding: 15px 30px;
  }

  .welcome-letter button:hover {
    background-color: white;
    color: var(--color-blue);
    cursor: pointer;
  }

  /* Form  */

  .form-container {
    padding: 5rem;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    width: 70%;
    font-size: 1.5rem;
  }

  form input {
    width: 75%;
    padding: 5px;
  }

  form button {
    background-color: var(--color-blue);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    padding: 15px 30px;
    width: 50%;
    justify-self: end;
    margin-top: 10px;
    margin-right: 20px;
  }

  /* Third container  */

  .program {
    width: 100%;
    padding: 2rem;
    min-height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: unset;
  }

  .program-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }

  .program h2 {
    text-align: left;
    font-size: 80px;
    letter-spacing: 2px;
  }

  .program li {
    font-size: 30px;
  }

  /* Footer  */

  footer {
    display: flex;
    padding: 5rem 7rem;
  }
  footer div {
    margin: 2rem;
    margin-right: 3rem;
  }
  footer div h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  footer div a {
    text-decoration: none;
    color: var(--color-blue);
  }

  footer p,
  footer a {
    font-size: 1.2rem;
    line-height: 26px;
  }
}

@media (prefers-reduced-motion) {
  .mic-two,
  .mic-five,
  .mic-seven,
  .left-hand-bottle,
  .right-hand-bottle,
  .show-time,
  .show-time-left,
  .program-card img {
    animation-name: dissolve;
  }
}
