@media screen and (min-width: 1025px) {
  .start-img {
    width: 100%;
  }

  .container {
    width: 40%;
    padding: 0;
    padding-bottom: 3rem;
    margin-top: 4rem;
    animation: slide-in 1.3s ease-in-out;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .star-container {
    display: none;
  }
  .stars-desktop {
    position: relative;
    display: flex;
    width: 25%;
    animation: slide-in 1.3s ease-in-out;
    /* opacity: 0; */
  }
  .stars-left {
    position: absolute;
    right: 0;
    top: 8%;
    transform: scale(0.9);
  }

  .stars-right {
    position: absolute;
    left: 0;
    top: 8%;
  }

  .bottle {
    position: absolute;
    transform: scale(1.2);
    display: block;
    opacity: 0;
  }

  .left-hand-bottle {
    left: 21%;
    bottom: 15%;
    animation: slide-in-bottle-left 0.7s ease-in 1s;
  }

  .right-hand-bottle {
    left: 28%;
    bottom: 10%;
    animation: slide-in-bottle-right 0.7s ease-in 1s;
  }

  .bubbles {
    animation: bubbles 1s infinite;
  }

  .show-time {
    opacity: 1;
    animation: show-time 1.5s ease-in-out;
  }

  .show-time-left {
    opacity: 1;
    animation: show-time-left 0.8s ease-in-out;
  }

  .welcome-letter .text-container {
    width: 65%;
  }

  .microphone-container {
    display: block;
  }

  .microphone {
    position: absolute;
    overflow: visible;
    width: 56px;
    height: 131px;
  }

  .microphone-red {
    z-index: 1000;
    right: 30%;
    bottom: 10%;
    transform: scale(1.3);
    display: block;
    opacity: 0;
    transition: 0.8s ease-in;
    animation: red-mic 1s ease-in-out 2s;
  }

  .mic-one {
    left: 150px;
    top: 250px;
    transform: rotate(25deg);
  }

  .mic-two {
    transform: scale(0.7) rotate(130deg);
    animation: mic-two 880ms infinite;
    top: 3rem;
  }

  .mic-three {
    left: 70%;
    top: 3rem;
    transform: scale(0.7) rotate(-25deg);
  }

  .mic-four {
    left: 12px;
    top: 40%;
    transform: scale(0.7) rotate(-90deg);
  }

  .mic-five {
    top: 40%;
    left: 60%;
    transform: rotate(-45deg);
    animation: mic-five 880ms infinite;
  }

  .mic-six {
    top: 62%;
    left: 40%;
    transform: scale(0.7) rotate(120deg);
  }

  .mic-seven {
    top: 70%;
    transform: rotate(-10deg);
    animation: note 880ms infinite;
  }

  .mic-eight {
    top: 80%;
    left: 70%;
    transform: rotate(50deg);
  }

  .program {
    padding: 2rem;
    flex-direction: row-reverse;
  }

  .program-text {
    width: 50%;
  }

  .notes {
    display: block;
    position: absolute;
    width: 70px;
  }

  .note-single {
    top: 120px;
    left: 55px;
    transform: rotate(15deg);
    animation: note 880ms infinite;
  }

  .note-double-1 {
    left: 60px;
    bottom: 120px;
    transform: rotate(10deg);
    animation: note-double-1 880ms infinite;
  }
  .note-double-2 {
    top: 120px;
    left: 44%;
    animation: note-double-2 770ms infinite;
  }

  .note-single-2 {
    top: 50px;
    left: 52%;
    transform: scale(0.7) rotate(20deg);
    display: none;
  }

  .note-double-3 {
    top: 50px;
    left: 60%;
    transform: rotate(-10deg);
    display: none;
  }

  .note-single-3 {
    top: 0;
    left: 68%;
    transform: scale(0.7);
    display: none;
  }

  .program-card {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem 20px;
  }

  .pic-container img {
    animation: none;
  }

  .pic-container {
    justify-content: flex-end;
  }

  .icons a {
    margin: 0;
    padding: 0;
  }
  .icons img {
    transform: scale(1.5);
    margin-right: 4rem;
    transition: 0.2s ease;
  }

  .icons img:hover {
    transform: rotate(10deg) scale(1.5);
  }
}
