@font-face {
  font-family: "AvantGardeMdITC";
  src: url("assets/fonts/AvantGardeMdITC-Bold.woff2") format("woff2"),
    url("assets/fonts/AvantGardeMdITC-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
